h1 {
    color: #085248;
    font-size: 100px;
    padding: 50px;
    text-align: center;
}
h2 {
    color: #dd7d0f;

    padding: 5px;
    text-align: center;
}
body {
    padding: 5px;
    text-align: center;
}
#BB {
    padding: 250px;
    vertical-align: bottom;
    text-align: right;

}